<h3>Show Booking</h3>

<%= link_to 'Edit', edit_booking_path(@booking) %>
|
<%= link_to 'Delete', booking_path(@booking), method: 'delete' %>
<br><br>

<p>
    User: <%= link_to @booking.user.name, user_path(@booking.user.id) %>
</p>

<p>
    Dam: <%= link_to @booking.dam.name, dam_path(@booking.dam.id) %>
</p>

<p>
    Dam Location: <%= @booking.dam.location %>
</p>

<p>
    Date and time: <%= @booking.date_time.strftime("%l:%M%P on %a %-d %b %Y") %>
</p>

<p>
    Car rego: <%= @booking.car_reg %>
</p>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtjHwEeM4MODih4Sx72XHzDTafAyah7pA
    &q=<%=@booking.dam.location%>&zoom=15&maptype=satellite">
</iframe>