<h3> <%= @user.name %> </h3>

<% if @current_user.id == @user.id || @current_user.admin == true %>
    <%= link_to 'Edit', edit_user_path(@user) %>
    |
    <%= link_to 'Delete', user_path(@user), method: 'delete' %>
<% end %>
<br><br>
<p>
    Email: <%= @user.email %>
</p>

<p>
    Membership: <%= @user.membership %>
</p>

<p>
    Phone: <%= @user.phone %>
</p>


<% if @current_user.admin == true || @current_user.id == @user.id %>

    <p>
        Car Rego: <%= @user.car_reg %>
    </p>

    <ul>
    <% @user.bookings.each do |booking| %>
            <li>
                <%= link_to "#{booking.dam.name} - #{booking.date_time.strftime("%l:%M%P on %a %-d %b %Y")}", booking_path(booking.id) %>
            </li>
        <% end %>
        </ul>

<% end %>