<!DOCTYPE html>
<html>
  <head>
    <title>SAFFA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <header>
    <nav>
      <h1>Dam Booking System</h1>

      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %> (<%= @current_user.admin ? "admin" : "basic user" %>)
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>
        |
        <%= link_to 'Dams Index', dams_path %>
        |
        <%= link_to 'Users Index', users_path %>
        |
        <%= link_to 'Bookings Index', bookings_path %>
      
      <% else %>

        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign Up', '/does-not-exist-yet' %>
        
      <% end %>
  

    </nav>
  </header>

    <%= yield %>

    <footer>
      <hr>
      &copy; SAFFA 2022
    </footer>
  </body>
</html>
