<!DOCTYPE html>
<html>
  <head>
    <title>SAFFA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

    <link rel="stylesheet" href="https://use.typekit.net/oxw1czn.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
  
  </head>

  <body>

  <header>
    
    <nav>
      
      <% if @current_user.present? %>
        <ul class="main-nav">
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Dams', dams_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Bookings', bookings_path %></li>
          <li class="push"><%= link_to @current_user.name, user_path(@current_user.id) %> (<%= @current_user.admin ? "admin" : "basic user" %>) | <%= link_to 'Logout', login_path, method: 'delete' %></li>
        </ul>
      
      <% else %>
        <ul class="main-nav">
          <li>About Us</li>
          <li>Membership</li>
          <li>Community</li>
          <li class="push"><%= button_to 'Join', login_path, :id => "join-button", :class => "primary-button", :method => :get %></li>
          <li><%= button_to 'Log In', login_path, :id => "login-button", :class => "secondary-button", :method => :get %></li>
        </ul>

      <% end %>

      <%= image_tag("logo.png", alt: "saffa logo", class: "top-logo") %>
  
    </nav>
  </header>

  <div class="yield-container">
    <%= yield %>
  </div>

  <footer class="footer">

  <div id="footer-container">
    <div class="footer-column">
      <strong>Fish Sales</strong><br>
      troutsales.saflyfisher@gmail.com<br><br>
      <strong>Membership Queries</strong><br>
      saflyfishers@gmail.com
      <br>
      <br>
      <br>
      <br>
      <p id="copyright">&copy; Copyright South Australian Fly Fisher's Association 2022</p>
    </div>
    
    <div class="footer-column">
      <strong>Postal Address</strong><br>
      The South Australian Fly Fisher's Association<br>
      PO Box 489<br>
      North Adelaide SA 5006
    </div>

    <div class="footer-column">
      <%= image_tag("logo.png", alt: "saffa logo", class: "footer-logo") %>
    </div>
  </div>

  </footer>
  </body>
</html>
