<!DOCTYPE html>
<html>
  <head>
    <title>SAFFA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

    <link rel="stylesheet" href="https://use.typekit.net/oxw1czn.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>

  <header>
    
    <nav>
      
      <% if @current_user.present? %>
        <ul class="main-nav">
          <li><%= link_to 'Dams', dams_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Bookings', bookings_path %></li>
          <li class="push"><%= @current_user.name %> (<%= @current_user.admin ? "admin" : "basic user" %>) | <%= link_to 'Logout', login_path, method: 'delete' %></li>
        </ul>
      
      <% else %>
        <ul class="main-nav">
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign Up', '/does-not-exist-yet' %></li>
        </ul>

      <% end %>
  
    </nav>
  </header>

  <%= yield %>

  <footer>
    <hr>
    &copy; SAFFA 2022
  </footer>
  </body>
</html>
